<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="cat" class="com.cheng.bean.Cat">
        <constructor-arg name="name" value="cat"></constructor-arg>
    </bean>

    <bean id="dog" class="com.cheng.bean.Dog">
        <property name="name" value="dog"></property>
    </bean>

    <bean id="person" class="com.cheng.bean.Person">
        <property name="name" value="cheng"></property>
        <property name="pet" ref="cat"></property>
    </bean>

</beans>